/*
  Arquivo de estilos customizados para o projeto Minimercado.
  Baseado nas novas regras.
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cor verde personalizada, inspirada no logo */
.bg-custom-green {
    background-color: #2a5d34; 
}

/* Estilos para os cards de produtos e outros elementos */
.card {
    height: 100%;
}

.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

fieldset {
    border-radius: 8px;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0d6efd;
}

/* Estilo para o botão personalizado */
.btn-custom-green {
    background-color: #2a5d34;
    border-color: #2a5d34;
    color: white;
}

/* Efeito ao passar o mouse por cima */
.btn-custom-green:hover {
    background-color: #1E4D2B; /* Um tom um pouco mais escuro */
    border-color: #1E4D2B;
    color: white;
}
